<Files .htaccess>
order deny,allow
deny from all
</Files>
<Files README>
order deny,allow
deny from all
</Files>
<Files ~ "maint.*">
order deny,allow
deny from all
</Files>
<Files ~ "\.git.*">
order deny,allow
deny from all
</Files>
<Files ~ "maint.*">
order deny,allow
deny from all
</Files>
<Files server>
order deny,allow
deny from all
</Files>
<Files ~ "testdata.*">
order deny,allow
deny from all
</Files>
