<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Systems</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            .media-grid a.puppetclass { margin: 0 0 2px 1px; padding: 4px; }
            .puppetclasses { padding-left: 30px }
        </style>
        <script src="js/json2.js"></script>
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/bootstrap-modal.js"></script>
        <script src="js/bootstrap-tabs.js"></script>
        <script src="js/underscore-1.1.6.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/app/model/puppetclass.js"></script>
        <script src="js/app/collection/puppetclasses.js"></script>
        <script src="js/app/model/nagiosserviceresult.js"></script>
        <script src="js/app/collection/nagiosresults.js"></script>
        <script src="js/app/model/host.js"></script>
        <script src="js/app/collection/ofhosts.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="sidebar">
                <ul id="host-list">
            	</ul>
            	<script type="text/template" id="host-template">
                    <a href="#" class="host-detail">
            	        <%= facts.fqdn %>
                    </a>
                </script>
            </div>
            <div id="content" class="content">
            	<div id="hoststats" class="pull-right"></div>
            	<ul id="classeslist" class="pull-right"></ul>
            	<div id="hostdetails"></div>
            </div>
        </div>
        <script type="text/template" id="stats-template">
              Total: <%= total %><br />
              Unique classes: <%= total_classes %><br />
              Interesting classes: <%= class_list %>
        </script>
        <script type="text/template" id="host-detail-template">
            <h1><%= host.get("fqdn") %> <% if (host.get("facts")["machine_notes"]) { %><sub>(<%= host.get("facts")["machine_notes"] %>)</sub><% } %></h1>
            <ul class="tabs">
                <li class="active"><a href="#basics">Basics</a></li>
                <% if (host.hasRaid()) { %><li><a href="#raid">RAID</s></li><% } %>
                <% if (host.get("nagios_results")) { %><li><a href="#nagios">Nagios</s></li><% } %>
                <li><a href="#classes">Classes</a></li>
                <li><a href="#facts">Facts</a></li>
            </ul>
            <div class="pill-content">
                <div class="active" id="basics">
                    <div class="row">
                        <span class="span2"><strong>Hostname</strong></span>
                        <span class="span3"><%= host.get("facts")["fqdn"] %></span>
                        <span class="span2"><strong>IP</strong></span>
                        <span class="span2"><%= host.get("facts")["ipaddress"] %></span>
                        <span class="span2"><%= host.get("facts")["architecture"] %></span>
                        <span class="span2"><%= host.get("facts")["kernelrelease"] %></span>
                        <span class="span3"><%= host.get("facts")["macaddress"] %></span>
                    </div>
                    <img src="<%= host.graphUrl("cpu-day") %>" width="497" height="371" />
                    <img src="<%= host.graphUrl("load-day") %>" />
                    <img src="<%= host.graphUrl("memory-day") %>" />
                    <img src="<%= host.graphUrl("swap-day") %>" />
                    <img src="<%= host.graphUrl("df-week") %>" />
                    <img src="<%= host.graphUrl("diskstats_iops-day") %>" />
                </div>
                <% if (host.get("nagios_results")) { %><div id="nagios">
                    <% host.get("nagios_results").each(function (service) { %>
                        <div class="alert alert-<% if (service.isOk()) { %>success<% } else { %>error<% } %>">
                            <h3><%= service.get("name") %></h3>
                            <pre><%= JSON.stringify(service) %></pre>
                        </div>
                        <% }); %>
                    </div>
                <% } %>
                <% if (host.hasRaid()) { %><div id="raid">
                        <div class="row">
                            <span class="span2"><strong>Controller</strong></span>
                            <span class="span2"><%= host.raidController() %></strong></span>
                        </div>
                </div><% } %>
                <div id="classes">
                    <ul class="media-grid puppetclasses"><%
                        _.each(host.get("classes").sort(), function(name) {
                            %> <li><a class="puppetclass" href="#"><%= name %></a></li> <% });
                    %></ul>
                </div>
                <div id="facts">
                    <table>
                        <tr><th>Name</th><th>Value</th></tr>
                        <% _.each(host.get("facts"), function(value, name) { %><tr><td><%= name %></td><td><%= value %></td></tr> <% }); %>
                    </table>
                </div>
            </div>
                
            <h2>Lastseen</h2>
            <%= host.get("lastseen_string") %>
        </script>
        <script type="text/template" id="class-list-item-template">
            <%= id %>: <%= count %>
        </script>
        <script src="js/app/view/hostrow.js"></script>    
        <script src="js/app/view/app.js"></script>
    </body>
</html>

